.select-box {
  grid-area: 1/2/2/3;
  gap: 10rem;
}

.select-box-light {
  background-color: var(--Background-light-mode);
}

.select-box-dark {
  background-color: var(--Background-dark-mode);
}

.form-select {
  border: none !important;
  outline: none !important;
  padding: 1em !important;
  box-shadow: 0em 0em 1em rgb(200, 200, 200);
}

@media screen and (max-width: 600px) {
  .select-box {
    grid-area: 2/1/3/2;
    gap: 10rem;
  }
}
