.window-countries {
  width: 100%;
  display: grid;
  grid-template-rows: 100px 100px auto;
  grid-template-columns: 100%;
  align-items: center;
  justify-items: center;
}

.window-countries-dark {
  background-color: var(--Element-dark-mode);
}

.window-countries-light {
  background-color: var(--Background-light-mode);
}
