.window-countries {
  display: grid;
  grid-template: 100px auto / 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.window-countries-dark {
  background-color: var(--Element-dark-mode);
}

.window-countries-light {
  background-color: var(--Background-light-mode);
}

@media screen and (max-width: 600px) {
  .window-countries {
    display: grid;
    grid-template: 100px 100px auto/ 1fr;
    align-items: center;
    justify-items: center;
  }
}
